#home > div.ui-content {
padding: 0;
}

#home > div.ui-content > p {
margin: 0;
}

#home > div.ui-content > p:nth-child(3) > a {
margin-top:0;
}

#home > div.ui-content > p:nth-child(6) > a {
margin-bottom: 0;
}

body {
margin: 0;
}

#landingpage {
display: none;
}


@media screen and (min-width: 500px) {

.homepagewrapper{
display: none;
}


#landingpagewrapper {
width: 70%;	
margin: auto;
}

#landingpage {
margin: auto;	
display: block;
}

.code {
text-align: center;
}
}